[data-component="server-status-icon"] {
  color: var(--v2-icon-icon-muted);

  [data-slot="server-status-left"],
  [data-slot="server-status-right"] {
    fill: none;
    stroke: currentColor;
  }

  [data-slot="server-status-dot"] {
    fill: var(--server-status-color);
  }

  &[data-state="reconnecting"] {
    --server-status-color: var(--v2-state-fg-warning);
  }

  &[data-state="disconnected"] {
    --server-status-color: var(--v2-state-fg-danger);
  }
}
